<nav class="navbar navbar-expand-lg" style="background-color: lightsalmon;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Restaurant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link <%= 'active' if current_page?(home_path) %>" href="/home">Home</a>
        <a class="nav-link <%= 'active' if current_page?(categories_path) %>" href="/categories">Menu</a>
        <% if Current.user && Current.user.role != 'admin' %>
          <a class="nav-link <%= 'active' if current_page?(profile_edit_path) %>" href="/profile/edit">Profile</a>
          <a class="nav-link <%= 'active' if current_page?(orders_path) %>" href="/orders">Orders</a>
        <% end %>
        <% if Current.user && Current.user.admin? %>
          <a class="nav-link <%= 'active' if current_page?(orders_path) %>" href="/orders">Orders</a>
        <% end %>
        <a class="nav-link <%= 'active' if current_page?(reviews_path ) %>" href="/reviews">Reviews</a>
      </div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-1">
        <% if Current.user %>
          <% if Current.user.role != 'admin' %>
            <a class="navbar-brand" href="/cart">
              <img src="https://www.svgrepo.com/download/34974/shopping-cart.svg" alt="Bootstrap" width="30" height="30">
            </a>
          <% end %>
          <li class="nav-item">
            <%= link_to Current.user.email, edit_password_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary" %>
          </li>
        <% else %>
          <a class="navbar-brand" href="/cart">
            <img src="https://www.svgrepo.com/download/34974/shopping-cart.svg" alt="Bootstrap" width="30" height="30">
          </a>
          <li class="nav-item">
            <%= link_to "Login", sign_in_path, class: "btn btn-outline-primary" %>
          </li>
          <br>
          <li class="nav-item ml-50px">
            <%= link_to "Sing Up", sign_up_path, class: "btn btn-outline-primary" %>
          </li>
          <br>
        <% end %>
      </ul>

    </div>
  </div>
</nav>