<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="custom-card">
        <div class="custom-card bg-primary text-white">
          <h1 class="text-center">Create a new reservation</h1>
        </div>
        <div class="p-3">
          <%= form_with(model: @reservations, url: reservations_path, method: :post) do |form| %>
            <% if @reservations.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@reservations.errors.count, "error") %> prohibited this reservation from being saved:</h2>

                <ul>
                  <% @reservations.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= form.label :table_id %>
              <% if @tables.present? %>
                <%= form.select :table_id, options_for_select(@tables), {}, class: "form-control" %>
              <% else %>
                <%= form.select :table_id, options_for_select(@tables), {}, class: "form-control" %>
              <% end %>
            </div>

            <div class="field mb-3">
              <%= form.label :reservation_date, class: "form-label" %>
              <% current_time = Time.zone.now %>
              <% min_time = current_time.beginning_of_day + 9.hours %>

              <% max_time = current_time.beginning_of_day + 20.hours %>

              <%= form.datetime_local_field :reservation_date, min: min_time.strftime('%Y-%m-%dT%H:%M'), max: max_time.strftime('%Y-%m-%dT%H:%M'), step: 60, class: "form-control", id: "reservation_date" %>

            </div>

            <!--if you need to test all time of reservation-->
            <!--<div class="field mb-3">
              <%#= form.label :reservation_date, class: "form-label" %>

              <%#= form.datetime_local_field :reservation_date, step: 60, class: "form-control", id: "reservation_date" %>
            </div>-->



            <div class="mb-3">
              <%= form.label :convert_to_order, class: "form-label" %>
              <%= form.check_box :convert_to_order, class: "form-check-input" %>
            </div>

            <div class="mb-3">
              <%= form.label :special_requests, class: "form-label" %>
              <%= form.text_area :special_requests, class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= form.submit 'Create Reservation', class: "btn btn-primary", id: "create_reservation_btn", disabled: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
